<!-- views/partials/emergency-modal.ejs -->
<div class="modal fade" id="emergencyModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title">Emergency Contacts</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="list-group">
          <div class="list-group-item">
            <h6 class="mb-1">Police Emergency</h6>
            <p class="mb-1"><strong>999</strong></p>
            <small>Available 24/7</small>
          </div>
          <div class="list-group-item">
            <h6 class="mb-1">Medical Emergency</h6>
            <p class="mb-1"><strong>911</strong></p>
            <small>Available 24/7</small>
          </div>
          <div class="list-group-item">
            <h6 class="mb-1">UNHCR Emergency</h6>
            <p class="mb-1"><strong>+256-XXX-XXXX</strong></p>
            <small>Available 24/7</small>
          </div>
          <div class="list-group-item">
            <h6 class="mb-1">Fire Department</h6>
            <p class="mb-1"><strong>112</strong></p>
            <small>Available 24/7</small>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
