<!-- views/partials/footer.ejs -->
<footer class="mt-5 py-4 bg-light">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <h5>RefugeeConnect Uganda</h5>
        <p class="text-muted small">Connecting refugees with essential services and community support.</p>
      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/information" class="text-decoration-none">Information Hub</a></li>
          <li><a href="/services" class="text-decoration-none">Services</a></li>
          <li><a href="/community" class="text-decoration-none">Community</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contact</h5>
        <p class="text-muted small">Emergency: 999<br>Support: support@refugeeconnect.ug</p>
      </div>
    </div>
    <hr>
    <div class="text-center text-muted small">
      <p>&copy; 2026 RefugeeConnect Uganda. All rights reserved.</p>
    </div>
  </div>
</footer>
