<!-- views/partials/language-modal.ejs -->
<div class="modal fade" id="languageModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Select Language</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action" data-lang="en">English</a>
          <a href="#" class="list-group-item list-group-item-action" data-lang="sw">Kiswahili</a>
          <a href="#" class="list-group-item list-group-item-action" data-lang="lg">Luganda</a>
          <a href="#" class="list-group-item list-group-item-action" data-lang="ac">Acholi</a>
          <a href="#" class="list-group-item list-group-item-action" data-lang="ar">العربية (Arabic)</a>
        </div>
      </div>
    </div>
  </div>
</div>
